src/main/mule/IEWC-CICD.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="demo-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="demo-config" api="demo.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="291063f0-5337-4485-8164-7a19e2267148" >
		<http:request-connection host="app.zipcodebase.com" protocol="HTTPS">
			<tls:context >
				<tls:trust-store insecure="true" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<api-gateway:autodiscovery apiId="18602398" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="137247e3-8242-42e1-ab25-29f88d95c1ef" flowRef="demo-main" />
	<import doc:name="Import" doc:id="1025f721-d22f-4634-86fe-8a5cf213bdc1" doc:description="common-global" file="common-global.xml" />
	<import doc:name="Import" doc:id="54cabc6c-6879-49b2-8fb8-49b3189b324b" doc:description="error-handler" file="error-handler.xml" />
	<import doc:name="Import" doc:id="8d4a776d-7f1c-4cae-96f0-73463081e116" doc:description="mule-common-logging" file="mule-common-logging.xml" />
	<flow name="demo-main">
        <http:listener config-ref="demo-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="demo-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="demo-console">
        <http:listener config-ref="demo-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="demo-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\getCity:demo-config">
		<ee:transform doc:name="Set Correlation Id" doc:id="7f99f762-f934-4ce6-a8fd-a1bb76b39346">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="correlationId"><![CDATA[attributes.headers.correlationId default uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="109a882e-9e9c-4558-8c14-81708799c26f" name="mile-log:request-received"/>
		<logger level="INFO" doc:name="Logger" doc:id="55d22ee5-0288-42a7-9bac-26ffca198979" message="#[payload]"/>
		<ee:transform doc:id="d5141261-5c62-4252-ac44-952b05aab9d3">
            <ee:message>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="zip" ><![CDATA[%dw 2.0
output application/json
---
{
	Fname: attributes.queryParams.FirstName,
	Lname: attributes.queryParams.LastName,
	Zip: attributes.queryParams.Zip
}]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="9b73cdba-76b4-4526-9988-74df1d7f889a" config-ref="HTTP_Request_configuration" path="/api/v1/search">
			<http:headers ><![CDATA[#[output application/java
---
{
	apikey : "7d2bbf90-c3bf-11ed-bf3d-972a789b2c87"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	country : "US",
	codes : attributes.queryParams.'Zip'
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="672208c2-88aa-4d98-b96c-595534d3fca2" >
			<ee:message >
				<ee:set-payload ><![CDATA[ %dw 2.0
output application/json
---
{
	"message": vars.zip.Fname ++ " " ++ vars.zip.Lname ++ " lives in "++ (payload.results..city joinBy ",")
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
